*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: skyblue;
   font-family: sans-serif,poppins;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100vw;
}
.header h2{
    font-weight: 550;
    color: whitesmoke;
}
form{
    height: auto;
    padding: 1%;
    width: 36%;
    background-color: rgba(224, 222, 222, 0.24);
    color: black;
    backdrop-filter: blur(20px);
    border-radius: 15px;
    margin: 9% auto 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 13px;
}
form hr{
    width: 80%;
    position: relative;
    left: 10%;
}
form h3{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form label{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
}

form input{
    height: 34px;
    position: relative;
    left: 10%;
    width: 80%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 18px;
    font-weight: bold;
    padding: 0px 13px;
    background-color: rgba(0, 0, 0, 0.027);
    border-bottom: 2px solid black;
    outline: none;
}

form span{
    width: 85%;
    position: relative;
    left: 7.5%;
    display: flex;
    justify-content: space-between;
}
form span a{
    color:aliceblue
}
form input::placeholder{
    color: black;
    position: relative;
    font-style:normal;
    font-weight: lighter;
    font-size: 13pxx;
    left: 5%;
}

form .submit{
    height: 34px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 18px;
    font-weight: bold;
    padding: 0px 13px;
    background-color: rgba(0, 0, 0, 0.027);
    border-bottom: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgba(0, 128, 128, 0.377);
    cursor: pointer;
}
.file{
    cursor: pointer;
}

form .submit:active{
    opacity: 0.6;
    border: 0;
}
form .error{
    background: rgba(235, 228, 215, 0.705);
    color: #a94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    text-align:center;
    margin: 0 auto  
}
.password{
    display: flex;
}
.password .img222{
    position: relative;
    left: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.password img{
    height: 20px;
    z-index: 1000;
    cursor: pointer;
}
.alert{
    position: fixed;
    top: 2%;
    left: 30%;
    height: auto;
    padding: 0 10px;
    width: 40%;
    background-color: wheat;
    text-align: center;
    color: red;
    animation: scale .5s linear;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -2px 10px wheat;
}
.alert p{
    width: 93%;
}
.alert span{
    font-size: 40px;
    cursor: pointer;
}
@keyframes scale {
    0%{
        top:0;
    }
    50%{
        top: 1%;
    }
    100%{
        top: 2%;
    }
}
form select{
    height: 34px;
    position: relative;
    left: 10%;
    width: 80%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 18px;
    font-weight: bold;
    padding: 0px 13px;
    background-color: rgba(0, 0, 0, 0.027);
    border-bottom: 2px solid black;
    outline: none;
}
